/* app/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

.btn {
  background: royalblue;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: navy;
}
